<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VSCODE</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>

  <body>
    <div id="main">
      <div id="left">
        <h3>Sasta VS code</h3>
        <div class="nav">
          <h4>
            Folder Name
            <span>
              <a href="/"><i class="ri-restart-line"></i></a>
              <i id="folderI" class="ri-folder-add-line"></i>
              <i id="fileI" class="ri-file-add-line"></i>
            </span>
          </h4>
        </div>

        <div class="files">
          <form id="file" action="/createdFile" autocomplete="off">
            <input type="text" name="fileName" placeholder="File Name" />
          </form>
          <form id="folder" action="/createFolder" autocomplete="off">
            <input type="text" name="folderName" placeholder="Folder Name" />
          </form>
        </div>

        <div id="files">
          <% files.forEach((file)=>{ %> <% if(file.isFolder){ %>
          <span class="name">
            <a href="/file/<%= file.name %>"><h5><i class="ri-folder-fill"></i> <%= file.name %></h5></a>
            <div class="icon">
              <i class="ri-pencil-line"></i>
              <a href="/delete/<%= file.name %>">
                <i class="ri-delete-bin-line"></i>
              </a>
            </div>
          </span>
          <% } else { %>
          <span class="name">
            <a href="/file/<%= file.name %>"
              ><h5><i class="ri-file-3-line"></i> <%= file.name %></h5>
            </a>
            <div class="icon">
              <i class="ri-pencil-line"></i>
              <a href="/deleted/<%= file.name %>">
                <i class="ri-delete-bin-line"></i>
              </a>
            </div>
          </span>
          <% } %> <% }) %>
        </div>
      </div>

      <div id="right">
        <div id="rnav">
          <div class="openFile">
            <%= fileOpen %> <i class="ri-close-fill"></i>
          </div>
          <button class="save" type="submit" form="saveData"><i class="ri-save-line"></i></button>
        </div>
        <form id="saveData" action="/save/<%= fileOpen %>" method="post">
          <textarea name="textarea"><%= data %></textarea>
        </form>
      </div>
    </div>
    <script src="../javascripts/script.js"></script>
  </body>
</html>
